* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: red;
    color: #ffffff;
    
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter', sans-serif; }
}


nav {
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center; 
    transition: all .5s;
    width: 100vw;    
}

.navHeart {
    position: absolute;
    z-index: -1;
    width: 100px;
    top: -80px;
    left: -40px;
    animation: 1s pulse 1s ease-in-out infinite; 
}

.navHeart:hover {
    cursor: pointer;
}

ul.navigation  {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 70vw;
    list-style: none;
    padding-top: 4px;
    
}

ul.navigation li {
    padding: 10px;
    transition: 1s;
   
}

ul.navigation li:nth-last-child() {
    margin-right: 10px;
}

ul.navigation li:hover {
    cursor: pointer;
    border: 1px solid white;

}



.svg-shape {
    -webkit-shape-inside: polygon(75.778px 272.829px, 1.555px 144.271px, 75.778px 15.713px, 224.222px 15.713px, 298.444px 144.271px, 224.222px 272.829px);
  } 

.heartClickOn {
    animation: 1s heartDisappear 0s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    animation-fill-mode: forwards;
}

.heartClickOff {
    animation: 1s heartAppear 0s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    animation-fill-mode: forwards;
}

.openNav {
    top: 0;
    left: 0;
    width: 40vw;
    border-radius: 0;
    animation: 4s pulse 4s ease-in-out infinite; 
  
}



.deadspace {
    height: 100px;
    width: 20px;
    border: 10px solid black;
} 

.whitespace {
    height: 100px; 
    width: 20px;
    border: 10px solid white;
}

.float {
    height: 100px;
    width: 100px;
    position: relative;
    animation: pulse 2s ease-in;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.greet {
    width: 40vw;
    height: 30vh;
    background-color: rgba(50, 50 ,50, .8);
    border-radius: 20px;
    filter: drop-shadow(6px 6px 6px #000);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: 2s all;

}


.disappear {
    animation: 1s dis .25s ease-in-out;  
    animation-fill-mode: forwards;
}


@keyframes pulse {
    0%   {transform:scale(1)}
    44%   {transform:scale(1)}
    45%   {transform:scale(1.2)}
    50%  {transform:scale(1)}
    64%   {transform:scale(1)}
    65%   {transform:scale(1.1)}
    70%   {transform:scale(1)}
    100% {transform:scale(1)}
}

@keyframes heartDisappear {
    0%   {opacity: 1; transform: scale(1)}
    100%   {opacity: 0.11; transform: scale(4); 
        top: 40px;
    left: 0px;
}
}
   
@keyframes heartAppear {
    0%   {opacity: 0.11; transform: scale(4)}
    100%   {
                opacity: 1; transform: scale(1); 
                top: -80px;
                left: -40px;
            }

}

@keyframes dis {
    0% {opacity: 1}
    100% {opacity: 0; display: none}
}
